code_challenge_02/site/images/css_validation_badge_mockup.png
code_challenge_02/site/images/html_validation_badge_mockup.png
code_challenge_02/site/images/image_placeholder.png
code_challenge_02/site/index.html
code_challenge_02/site/stylesheets/site.css
code_challenge_02/site/stylesheets/template_responsive_example.css
